<header>
  <h1>Gestão de Livros</h1>
</header>

<main>
  <section>
    <h2>Livros</h2>
    <div>
      <article>
        <h3>Formulário</h3>
        <app-book-form [books]="this.books" [tags]="this.tags" (bookAdded)="addBook($event);" (bookEdited)="editBook($event)"></app-book-form>
      </article>
      <article class="ficha">
        <h3>Ficha</h3>
        <app-book-sheet [books]="this.books"></app-book-sheet>
      </article>
    </div>

    <article>
      <h3>Tabela</h3>
      <app-book-table [books]="this.books" (bookSelected)="bookSheetComponent.selectBook($event)"
        (bookRemoved)="removeBook($event)" (bookSetEdit)="bookFormComponent.setFormEdit($event)"></app-book-table>
    </article>
  </section>

  <section>
    <h2>Tags</h2>
    <article>
      <h3>Formulário</h3>
      <app-tag-form (tagAdded)="addTag($event);"></app-tag-form>
    </article>

    <article>
      <h3>Tabela</h3>
      <span style="display: none;" id="tabela_tags_aviso"></span>
      <app-tag-table [tags]="this.tags" (tagRemoved)="removeTag($event)"></app-tag-table>
    </article>
  </section>
</main>

<footer>
  <span>Trabalho Criado por: André Almeida, 82255</span>
</footer>

<router-outlet></router-outlet>